.modules-and-tabs{
    border-left: 2px solid #e0e0e0 !important;
}

video{
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.content{
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

